<head>
<script src="../js/jquery-1.12.0.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script>
const DB_NAME = 'indexedDB-lecture-notes';
const DB_VERSION = 1; // Use a long long for this value (don't use a float)
const DB_STORE_NAME = 'LectureNotes';
var db;
window.onload = function () {
	openDb();
	addEventListeners();
	setTimeout(function(){
		displayPubList();
	},500);

	// Used to keep track of which view is displayed to avoid uselessly reloading it
	var current_view_pub_key;
}

function openDb() {
	console.log("creating store");
	var req = indexedDB.open(DB_NAME, DB_VERSION);
	req.onsuccess = function (evt) {
		db = this.result;
	};

	req.onupgradeneeded = function (evt) {
		var store = evt.currentTarget.result.createObjectStore(
			DB_STORE_NAME, { keyPath: 'id', autoIncrement: true });

		store.createIndex('lectureId', 'lectureId', { unique: false });
		store.createIndex('slideId', 'slideId', { unique: false });
		store.createIndex('noteId', 'noteId', { unique: true, autoIncrement: true });
		store.createIndex('note', 'note', { unique: false});
	};
}
	function getObjectStore(store_name, mode) {
		var tx = db.transaction(store_name, mode);
		return tx.objectStore(store_name);
	}
	function addNoteTextFields(){
		document.getElementById('add').style.visibility="visible"
	}

	function addNote(lectureId, slideId, noteId, note) {
		// console.log(document.getElementById('add'));
	  var obj = { lectureId: lectureId, slideId: slideId, noteId: noteId, note: note };
	  // if (typeof blob != 'undefined')
	  //   obj.blob = blob;

	  var store = getObjectStore(DB_STORE_NAME, 'readwrite');
	  var req;
	  try {
	    req = store.add(obj);
	  } catch (e) {
	    if (e.name == 'DataCloneError')
	      displayActionFailure("This engine doesn't know how to clone a Blob, use Firefox");
	    throw e;
	  }
	  req.onsuccess = function (evt) {
	    displayActionSuccess();
	    displayPubList(store);
	  };
	  req.onerror = function() {
	    displayActionFailure(this.error);
	  };
	}

	//Delete from DB
	function deleteNote(noteId) {
		var store = getObjectStore(DB_STORE_NAME, 'readwrite');
		var req = store.index('noteId');
		req.get(noteId).onsuccess = function(evt) {
			if (typeof evt.target.result == 'undefined') {
				displayActionFailure("No matching record found");
				return;
			}// if
			deleteNote2(evt.target.result.id, store);
		};
		req.onerror = function (evt) {
			displayActionFailure(this.error);
		};
	}

  function deleteNote2(key, store) {
    if (typeof store == 'undefined')
      store = getObjectStore(DB_STORE_NAME, 'readwrite');
		console.log("STORE: ", store);

    var req = store.get(key);
		console.log("REQUEST: ", req)
    req.onsuccess = function(evt) {
			console.log("HERE SUCCESS!!!")
      var record = evt.target.result;
      if (typeof record == 'undefined') {
        displayActionFailure("No matching record found");
        return;
      }// if
      req = store.delete(key);
      req.onsuccess = function(evt) {
        displayActionSuccess("Deletion successful");
        displayPubList(store);
      };
      req.onerror = function (evt) {
        displayActionFailure(this.error);
      };
    };
    req.onerror = function (evt) {
      displayActionFailure(this.error);
    };
  }

	function viewNote(key, store) {
		$('#noteView').html('');
    if (typeof store == 'undefined')
      store = getObjectStore(DB_STORE_NAME, 'readwrite');

		var index = store.index('noteId');
    var req = index.get(key);
    req.onsuccess = function(evt) {
      var record = evt.target.result;
      if (typeof record == 'undefined') {
        displayActionFailure("No matching record found");
        return;
      }// if
			$('#noteView').html(evt.target.result.note);
    };
    req.onerror = function (evt) {
      displayActionFailure(this.error);
    };
  }

//Success and error messages
  function displayActionSuccess(msg) {
    msg = typeof msg != 'undefined' ? "Success: " + msg : "Success";
    $('#msg').html('<span class="action-success">' + msg + '</span>');
  }
  function displayActionFailure(msg) {
    msg = typeof msg != 'undefined' ? "Failure: " + msg : "Failure";
    $('#msg').html('<span class="action-failure">' + msg + '</span>');
  }

	function displayPubList(store) {
		if (typeof store == 'undefined')
			store = getObjectStore(DB_STORE_NAME, 'readonly');

		var pub_msg = $('#pub-msg');
		pub_msg.empty();
		var pub_list = $('#pub-list');
		pub_list.empty();
		// // Resetting the iframe so that it doesn't display previous content
		// newViewerFrame();

		var req;
		req = store.count();
		// Requests are executed in the order in which they were made against the
		// transaction, and their results are returned in the same order.
		// Thus the count text below will be displayed before the actual pub list
		// (not that it is algorithmically important in this case).
		req.onsuccess = function(evt) {
			pub_msg.append('<p>There are <strong>' + evt.target.result +
										 '</strong> record(s) in the object store.</p>');
		};
		req.onerror = function(evt) {
			console.error("add error", this.error);
			displayActionFailure(this.error);
		};

		var i = 0;
		req = store.openCursor();
		req.onsuccess = function(evt) {
			var cursor = evt.target.result;
			// If the cursor is pointing at something, ask for the data
			if (cursor) {
				req = store.get(cursor.key);
				req.onsuccess = function (evt) {
					var value = evt.target.result;
					var list_item = $('<li noteid="' + value.noteId + '">' +
														'Lecture: ' + value.lectureId + ' ' +
														'Slide: ' + value.slideId + ' ' +
														'Note: ' + value.noteId + ' ' +
														'</li>');

					// CREATE A DELETE LINK FOR THIS ITEM
					var deleteLink = $('<a>');
					deleteLink.html(' delete');
					deleteLink.attr('href','#');
					deleteLink.click(function(event){
						deleteNote($(this).parent().attr('noteid'));
					});
					list_item.append(deleteLink);

					// CREATE A VIEW LINK FOR THIS ITEM
					var viewLink = $('<a>');
					viewLink.html(' view');
					viewLink.attr('href','#');
					viewLink.click(function(event){
						viewNote($(this).parent().attr('noteid'));
					});
					list_item.append(viewLink);

					pub_list.append(list_item);
				};
				// Move on to the next object in store
		 		cursor.continue();
				// This counter serves only to create distinct ids
		 		i++;
		 	} else {
		 		console.log("No more entries");
		 	}
		};
	}

	//Event handler stuff
	  function addEventListeners() {
	    $('#register-form-reset').click(function(evt) {
	      resetActionStatus();
	    });

	    $('#add').click(function(evt) {
	      console.log("add ...");
				var lectureId = $('#lectureId').val();
				var slideId = $('#slideId').val();
				var noteId = $('#noteId').val();
				var note = $('#note').val();

	      if (!lectureId ||!slideId || !noteId) {
	        displayActionFailure("Required field(s) missing");
	        return;
	      }

	      if (lectureId != '') {
	        // Better use Number.isInteger if the engine has EcmaScript 6
	        if (isNaN(lectureId))  {
	          displayActionFailure("Invalid lecture number");
	          return;
	        }// if
	        lectureId = Number(lectureId);
	      } else {
	        lectureId = null;
	      }// if

		  	if (slideId != '') {
	        // Better use Number.isInteger if the engine has EcmaScript 6
	        if (isNaN(slideId))  {
	          displayActionFailure("Invalid slide number");
	          return;
	        }// if
	        slideId = Number(slideId);
	      } else {
	        slideId = null;
	      }// if
				console.log("calling add note")
        addNote(lectureId, slideId, noteId, note);
	    });

	    $('#clear-store-button').click(function(evt) {
	      clearObjectStore();
	    });

	    var search_button = $('#search-list-button');
	    search_button.click(function(evt) {
	      displayPubList();
	    });

	  }

	//getting blob
	  function getBlob(key, store, success_callback) {
	    var req = store.get(key);
	    req.onsuccess = function(evt) {
	      var value = evt.target.result;
	      if (value)
	        success_callback(value.blob);
	    };
	  }
</script>
	<style>
		#addNoteBlock,#deleteNoteBlock{
			width: 500px;
		}
	</style>
</head>
<body>
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-primary">
			  <div class="panel-heading">
			    <h3 class="panel-title">Add</h3>
			  </div>
			  <div class="panel-body">
					<label for="lectureId">Lecture ID:</label>
					<input id="lectureId" name="lectureId" class="form-control input-sm"/>

					<label for="slideId">Slide ID:</label>
					<input  id="slideId" name = "slideId" class="form-control input-sm"/>

					<label for="noteId">Note ID:</label>
					<input id="noteId" name="noteId" class="form-control input-sm"/>

					<label for="note">Note:</label>
					<textarea id="note" name="note" class="form-control"></textarea>

					<br>
					<button id ="add" class="btn btn-primary">Add Note</button>
			  </div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="panel panel-primary">
			  <div class="panel-heading">
			    <h3 class="panel-title">List</h3>
			  </div>
			  <div class="panel-body">
					<div id = "msg"></div>
					<div id = "pub-msg"></div>
					<div id = "pub-list"></div>
			  </div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="panel panel-primary">
			  <div class="panel-heading">
			    <h3 class="panel-title">Viewer</h3>
			  </div>
			  <div class="panel-body">
					<textarea id="noteView" class="form-control"></textarea>
			  </div>
			</div>
		</div>
	</div>
</body>
