<head>
  <script src="../js/jquery-1.12.0.min.js"></script>
  <script>
      function getRosterJSP(){
        console.log("getRoster");
        var frame = parent.document.getElementById("cframe");
        console.log(frame);
        $(frame).attr('src','http://localhost:8080/RosterJSP/roster.jsp');
      }
	function getRosterMVC(){
        console.log("getRoster");
        var frame = parent.document.getElementById("cframe");
        console.log(frame);
        $(frame).attr('src','http://localhost:8080/RosterMVC/');
      }
  </script>
</head>
<body>
<button onclick = "getRosterJSP()">RosterJSP
</button>
<button onclick = "getRosterMVC()">RosterMVC
</button>
</body>
