<head>
  <script src="../js/jquery-1.12.0.min.js"></script>
  <script>
      function getRosterJSP(){
        console.log("getRoster");
        var frame = parent.document.getElementById("cframe");
        console.log(frame);
        $(frame).attr('src','http://localhost:8080/RosterJSP/roster.jsp');
      }
	function getRosterMVC(){
        console.log("getRoster");
        var frame = parent.document.getElementById("cframe");
        console.log(frame);
        $(frame).attr('src','http://localhost:8080/RosterMVC/');
      }
      function getRosterJTable(){
                var frame = parent.document.getElementById("cframe");
                $(frame).attr('src','http://localhost:8080/WebRosterJTable/');
              }
  function getAmazon(){
            console.log("getAmazon");
            var frame = parent.document.getElementById("cframe");
            console.log(frame);
            $(frame).attr('src','/WebServices/AmazonBook/book.html');
          }
  </script>
</head>
<body>
<button onclick = "getRosterJSP()">RosterJSP
</button>
<button onclick = "getRosterMVC()">RosterMVC
</button>
<button onclick = "getRosterJTable()">Roster JTable
</button>
<button onclick = "getAmazon()">Amazon Book
</button>
</body>
