<head>
  <script src="../js/jquery-1.12.0.min.js"></script>
  <script>
      function getRoster(){
        console.log("getRoster");
        var frame = parent.document.getElementById("cframe");
        console.log(frame);
        $(frame).attr('src','http://localhost:8080/WebRoster/roster.jsp');
      }
  </script>
</head>
<body>
<button onclick = "getRoster()">RosterJSP
</button>
</body>
