.center {
    text-align: center;
}

.left {
    text-align: left;
}

h4 {
    display: inline-block;
    margin: 10px 0px 0px 0px;
}

.tabbed {
    padding-left: 50px;
}

.no-margin {
    margin: 0px;
}

.table-center {
    margin-left: auto;
    margin-right: auto;
}

table[id="grade-table"],
table[id="grade-table"] td,
table[id="grade-table"] th {
    border: 2px solid #3030FF;
    border-collapse: collapse;
    padding: 3px;
}

    table[id="grade-table"] th {
        background-color: #3030FF;
        color: white;
    }

table[id="grade-scale-table"],
table[id="grade-scale-table"] td,
table[id="grade-scale-table"] th {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
    table-layout: fixed;
    width: 4em;
    padding: 2px;
}

    table[id="grade-scale-table"] th {
        background-color: #FFD0C0;
    }

.highlight {
    background-color: yellow;
}
.greenHighlight {
    background-color: green;
}
